html {
  font-size: 1em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
:before,
:after {
  box-sizing: border-box;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: visible;
}

// WP Specific
// ------------------

.full-post .wp-caption img {
  margin-bottom: 0;
}

.wp-caption {
  background: $gray-lighter;
  margin-bottom: 2em;
}

.wp-caption-text {
  color: $gray;
  margin: 0;
  padding: 10px;
}

.gallery-caption {
  background: $gray-lighter;
}